*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 239, 239);
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.content{
    width: 50%;
}
.btnseperator{
    display: flex;
    justify-content: space-evenly;
}
.custom-shape-divider-bottom-1611428761 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1611428761 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.custom-shape-divider-bottom-1611428761 .shape-fill {
    fill: #F8E71C;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1611428761 svg {
        width: calc(100% + 1.3px);
        height: 123px;
    }
}