
.custom-shape-divider-bottom-1611428761 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1611428761 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.custom-shape-divider-bottom-1611428761 .shape-fill {
    fill: #F8E71C;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1611428761 svg {
        width: calc(100% + 1.3px);
        height: 123px;
    }
}