/* For dashboard css */
.note-container{
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
}

.voice-control Button{
    display: flex;
    z-index: -2;
}


.savednotescontainer{
    height: 100%;
    width: 400px; 
    position: fixed; 
    z-index: -1; 
    top: 0; 
    left: 0;
    background-color: #3f51b5;
    padding-top: 20px;
    padding-right: 20px;
    overflow-y: scroll;
}

.insidesavednotescontainer{
    padding-top: 100px;
    padding-left: 40px;
}
.note{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    .note-container{
      width: 100%;
      margin-left: 0;
    }
}