
.note-container{
    background-color: black;
    width: 50%;
    margin-left: 22%;
    margin-top: 20px;
}

.voice-control{
    float: right;
}

.savednotescontainer{
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; /* Black */
    padding-top: 20px;
}

.note{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    .note-container{
      width: 100%;
      margin-left: 0;
    }
}